.container{
   background: #f9f9f9;
   padding-left: 17%;
   padding-right: 2%;
   padding-top: 20px;
   padding-bottom: 20px;
}

.large-container{
    padding-left: 7%;
}

@media (max-width:768px){
      .large-container{
          padding-left: 10%;
      }
}

@media(max-width:480px){
      .container{
         width: 110%;
         margin-left: -40px;
      }
}

@media(max-width:320px){
      .container{
          width: 113%;
      }
}

